{% extends 'base.html.twig' %}

{% block title %}Liste des formations{% endblock %}

{% block body %}
<div class="container">

    <h1>Liste des formations</h1>

    {% for formation in formations %}
        {{ formation.nomFormation }}
        {% for session in formation.sessions %}
            {{ session }}
        {% endfor %} <br>
    {% endfor %}
</div>
{% endblock %}
