@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* ------------------------------variables CSS-------------------------------------- */
:root{
    --bg-colour: #010309;
    --content-colour: #020613;
    --cards-colour: #121729;
    --stroke-colour: #374368;
    --btn-colour: #FF9A6C;
    --logo-colour: #FF9A6C;
    --font-color: #FFFFFF;

    --font-family: 'Roboto', sans-serif;

    --h1-size: 36px;
    --h2-size: 16px;
    --aside-size: 24px;
    --font-size: 14px;
    --logo-size: 40px;
}

/* ------------------------------corps-------------------------------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper{
    display:flex;
    justify-content: center;
}

body{
    height:100%;
    color: var(--font-color);
    font-family: var(--font-family);
    background: var(--bg-colour);

}

/* -----------------------------navigation-------------------------------------- */

.nav_container{
    display: flex;
    align-content: center;
}

aside{
    float: left;
    height: 100vh;
    width: clamp(280px, 50vw, 300px);
    background-color: var(--cards-colour);
    padding: 20px 30px;
    border-right: solid var(--stroke-colour);
    border-left: solid var(--stroke-colour);
}

.logo{
    font-family: "Audiowide", sans-serif;
    font-weight: 400;
    font-size: var(--logo-size);
    color: var(--logo-colour);
    text-align: center;
    margin-bottom: 50px;
    cursor: default;
}

nav ul{
    list-style: none;
}

nav ul li{
    padding: 20px 0;
}

nav ul li a{
    text-decoration: none;
    color: var(--font-color);
    font-size: clamp(20px, 3vw, 24px);
    font-weight: 700;
    opacity: 0.5;
}
.active{
    color: var(--font-color);
    opacity: 1;
}

/* ------------------------------buttons-------------------------------------- */


.btn-create{
    background-color: var(--btn-colour);
    text-decoration: none;
    margin: 20px;
    padding: 6px 12px;
    border-radius: 10px;
    border: solid var(--font-color);
    text-decoration: none;
    color: var(--font-color);
    font-weight: 500;
}

.btn-create:hover{
    background-color: var(--bg-colour);
    text-decoration: none;
    margin: 20px;
    padding: 6px 12px;
    border-radius: 10px;
    border: solid var(--font-color);
    text-decoration: none;
    color: var(--font-color);
    font-weight: 500;
}

.admin-btn{
    padding: 6px 12px;
    border-radius: 10px;
    background-color: #e7e7e7; 
    color: black;
    text-decoration: none;
    font-size: var(--font-size);
    font-family: var(--font-family);
    border: 2px solid var(--stroke-colour);
    cursor: pointer;
}
.admin-btn:hover{
    padding: 6px 12px;
    border-radius: 10px;
    background-color: var(--bg-colour); 
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: var(--font-size);
    font-family: var(--font-family);
    border: 2px solid var(--stroke-colour);
    cursor: pointer;
}

.admin-btn-display{
    display: flex;
    align-items: center;
    gap: 10px;
}

/* ------------------------------body-------------------------------------- */


h1{
    margin: 25px 0 25px 20px;
    font-size: var(--h1-size);
}

.container{
    width: 50vw;
    background: var(--content-colour);
    border-right: solid var(--stroke-colour);
}


.card{
    background: var(--cards-colour);
    border: solid var(--stroke-colour);
    margin: 20px;
    padding: 20px;
    border-radius: 16px;
}

.card_next_to{
    margin: -20px 0;
    display:grid;
    grid-template-columns: 70% 30%;
}

.card_next{
    margin: -20px 0;
    display:grid;
    grid-template-columns: 50% 50%;
}

.column_content{
    display: flex;
    justify-content: space-between;
}

.column p:first-child{
    margin-bottom: 10px;
}

.dureeProgramme{
    display:flex;
    height: 20px;
}

.dureeProgramme button{
    margin-left: 10px;    
}

.formEditProgramme{
    display: none;
}

.formEditProgramme.active{
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.5);}



/* ------------------------------media queries-------------------------------------- */

@media (max-width: 850px) {
    body{ 
        width: 100vw; }
        
    .column_content{
        flex-direction: column;
    }

    .column{
        margin: 10px;
    }
        
}


