{% extends 'base.html.twig' %}

{% block title %}Liste des stagiaires{% endblock %}

{% block body %}
<div class="container">

    <h1>Liste des stagiaires</h1>

        {% for stagiaire in stagiaires %}
            {{ stagiaire.nom ~' '~ stagiaire.prenom ~' '~ stagiaire.getNaissance ~' '~ stagiaire.email ~' '~ stagiaire.telephone }} 
            
            {% for session in stagiaire.sessions %}
                {{ session.nomSession }}
            {% endfor %} <br>
        {% endfor %}
</div>
{% endblock %}
