{% extends 'base.html.twig' %}

{% block title %}Liste des modules{% endblock %}

{% block body %}
<div class="container">
    <h1>Liste des modules</h1>
    
    <div class="card">
        {% for module in modules %}
            {{ module.nomModule ~ ' ('~ module.categorie ~ ')' }}  <br>
        {% endfor %}
    </div>
</div>
{% endblock %}
